:root{
    --main-font-family: font-family: 'Sen', sans-serif;
}

h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    font-family: var(--main-font-family);
}


.library {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    
}

body{
    background-color: lightgray;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.library div {
    position: relative;
    width: 10rem;
    height: auto;
    aspect-ratio: 2/3;
    box-sizing: border-box;
    margin:  10px;
    margin-bottom: 40px;
    background-image:url(./Assets/bg1.jpg);
    background-size: cover;
    cursor: pointer;
    position: relative;
    border-radius: 2px;
    box-shadow: 3px 3px 5px rgb(66, 66, 66);
    transition: 0.3s ease-in-out;
}

.library div:hover{
    transform: translate(0,-10px);
}

.library p {
    position: relative;
    right: -10%;
    top: 101%;
    font-size: 1.2rem;
    font-family: var(--main-font-family);
}

.library object{
    position: absolute;
    right: 0%;
    bottom: -15%;
}

#addbook{
    background-image: none;
    display: grid;
    place-content: center center;
    background-color: #242424;
    order: 1;
}

#addbook svg{
    size: 50%;
}


.library #removeBook{
    position: relative;
    right: 5%;
    top: 86%;  
}

.form {
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: hidden;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 600px;
    position: fixed;
    border: 5px solid #242424;
    overflow:hidden;
    font-family:var(--main-font-family) ;
    z-index: 9;
}

.form h1{
    font-family: var(--main-font-family);
    font-size: 3rem;
}

 #closeButton{
    display: block;
    cursor: pointer;
    position: absolute;
    width: 40px;
    top: 0%;
    right: 0%;
}

input[type="text"], input[type="number"] {
    appearance: none;
    -webkit-appearance: none;
    font-family: var(--main-font-family);
    font-size: 1.5rem;
    border: 1px solid black;
    height: 30px;
    width: 60%;
}



input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    
}
input[type="checkbox"]:checked{
    background: aquamarine;
}


button{
    appearance: none;
    -webkit-appearance: none; 
    border: none;
    font-family: var(--main-font-family);
    font-size: 1rem;
    background-color: #bebebe;
    width: 200px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

button:hover{
    background-color: aquamarine;
}

label {
    font-family:var(--main-font-family);
    display: inline-block;
    font-size: 1.5rem;
    width: 100px;
}



.form li{
    list-style: none;
    margin: 20px;
    display: flex;
    align-items: center;
}

 .bookDetail{
    display:none;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 800px;
    position: fixed;
    border: 5px solid #242424;
    overflow:hidden;
    font-family:var(--main-font-family) ;
    z-index: 9;
}
.bookDetail ul{
    margin: 20px;
    padding: 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.bookDetail li{
    padding: 5px;
    list-style: none;
    display: inline-block;
}

.bookDetail input[type="number"]{
    width: 80px;
}

.bookDetail p{
    font-size: 1.5rem;
    font-family: var(--main-font-family);
}

.libraryStat{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 50px;
width: 200px;
height: 50px;
cursor: pointer;
background-color: #242424;
font-family: var(--main-font-family);
color: white;
border-radius: 5px;
}

.libraryStat ul{
    padding: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    
}

.libraryStat li {
    margin: 5px;
    justify-self: center;
    list-style: none;
    font-family: var(--main-font-family);
    font-size: 1.5rem;
}