:root{
    --main-font-family: font-family: 'Sen', sans-serif;
}

h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    font-family: var(--main-font-family);
}

.library {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

body{
    background-color: lightgray;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bookElement {
    display: grid;
    grid-template-columns: 4fr 1fr;
    
    width: 10rem;
    height: auto;
    box-sizing: border-box;
    margin:  10px;
    gap: 10px;
    cursor: pointer;
    position: relative;
    border-radius: 2px;
    transition: 0.3s ease-in-out;
}

.library div:hover{
    transform: translate(0,-10px);
}


.bookElement img{
    grid-column: 1 /-1;
    width: 10rem;
    height: 15rem;
    box-shadow: 3px 3px 5px rgb(66, 66, 66);
    
}


.bookElement p{
    display: block;
    margin: 0;
    position: relative;  
    font-family: var(--main-font-family);
    font-size: 1rem;
}



#addbook{
    background-image: none;
    display: grid;
    place-content: center center;
    background-color: #242424;
    order: 1;
    width: 10rem;
    height: 15rem;
    aspect-ratio: 2/3;
    margin:  10px;
    cursor: pointer;
    position: relative;
    border-radius: 2px;
    transition: 0.3s ease-in-out;
    box-shadow: 3px 3px 5px rgb(66, 66, 66);
}

#addbook svg{
    size: 50%;
    
}


.library #removeBook{
    position: relative;
    right: 5%;
    top: 86%;  
}

.form {
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: hidden;
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 800px;
    position: fixed;
    border: 5px solid #242424;
    overflow:hidden;
    font-family:var(--main-font-family) ;
    z-index: 9;
}

.form h1{
    font-family: var(--main-font-family);
    font-size: 3rem;
}

.form ul{
    padding: 0;
    display: flex;
    width: 80%;
    flex-direction: column;
    align-content: center;
}

.form li{
    list-style: none;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;

}

 #closeButton{
    display: block;
    cursor: pointer;
    position: absolute;
    width: 40px;
    top: 0%;
    right: 0%;
}

input[type="text"], input[type="number"], input[type="url"] {
    appearance: none;
    -webkit-appearance: none;
    font-family: var(--main-font-family);
    font-size: 1.5rem;
    border: 1px solid black;
    height: 30px;
    width: 200px;
    justify-self: end;
}



input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    justify-self: end;
    
}
input[type="checkbox"]:checked{
    background: rgb(64, 206, 159);
}


button{
    appearance: none;
    -webkit-appearance: none; 
    border: none;
    font-family: var(--main-font-family);
    font-size: 1rem;
    background-color: rgb(127, 168, 255);
    width: 200px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    justify-self: center;
    transition: 0.3s ease-in-out;
}

button:hover{
    background-color: aquamarine;
}

label {
    font-family:var(--main-font-family);
    display: block;
    font-size: 1.5rem;
    width: 100%;
    text-align: start;
  
}


 .bookDetail{
    display:none;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 800px;
    position: fixed;
    border: 5px solid #242424;
    overflow:hidden;
    font-family:var(--main-font-family) ;
    z-index: 9;
}
.bookDetail ul{
    margin: 20px;
    padding: 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.bookDetail li{
    padding: 5px;
    list-style: none;
    display: inline-block;
}

.bookDetail input[type="number"]{
    width: 80px;
}

.bookDetail p{
    font-size: 1.5rem;
    font-family: var(--main-font-family);
}

.libraryStat{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    background-color: #242424;
    font-family: var(--main-font-family);
    color: white;
    border-radius: 5px;
}

.libraryStat ul{
    padding: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    
}

.libraryStat li {
    margin: 5px;
    justify-self: center;
    list-style: none;
    font-family: var(--main-font-family);
    font-size: 1.5rem;
}