:root{
    --main-font-family: font-family: 'Sen', sans-serif;
}

h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    font-family: var(--main-font-family);
}


.library {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    
}

body{
    background-color: lightgray;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-content: center;
}

.library div {
    width: 10rem;
    height: auto;
    aspect-ratio: 2/3;
    margin:  10px;
    margin-bottom: 40px;
    background-image:url(./Assets/bg1.jpg);
    background-size: cover;
    cursor: pointer;
    position: relative;
    border-radius: 2px;
}

p {
    position: relative;
    right: -10%;
    top: 102%;
    font-family: var(--main-font-family);
}

#addbook{
    background-image: none;
    display: grid;
    place-content: center center;
    background-color: #242424;
    order: 1;
}

#addbook svg{
    size: 50%;
}


.library #removeBook{
    position: relative;
    right: 5%;
    top: 86%;
    
    
}

.form {
    display: none;
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 30%;
    position: fixed;
    left: 30%;
    border: 5px solid #242424;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-family:var(--main-font-family) ;
    z-index: 9;
}

.form #closeButton{
    display: block;
    cursor: pointer;
    position: absolute;
    width: 40px;
    top: -8%;
    right: -8%;
}

input[type="text"], input[type="number"] {
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid black;
    height: 20px;
    width: auto;
    
}

label {
    font-family:var(--main-font-family);
    font-size: 1.5rem;
    display: inline-block;
    width: 80px;
}

li{
    list-style: none;
    margin: 10px;
}